{% extends "layout.html" %}

{% block title %}
    Laptop
{% endblock %}

{% block body %}
    <h1>Laptop Details</h1>
    <ul>
        <li>Brand: {{laptop.brand_name}}</li>
        <li>Type : {{laptop.type}}</li>
        <li>Price : ${{laptop.price}}</li>
    </ul>
    <h2>Customers</h2>
    <ul>
        {%for customer in customers %}
            <li>{{customer.customer_name}}</li>
        {% else %}
            <li>No Customer</li>
        {% endfor %}
    </ul>
{% endblock %}
